@import './variables.scss';
.btn {
    color: $font-general !important;
}
button {
    width: max-content;
    height: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    
    &.log-new {
        position: fixed;
        bottom: 30px;
        right: 30px;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: bold;
        padding-left: 25pt;
        padding-right: 25pt;
        border-radius: 10px;
    }
    &.submit {
        width: 200px;
    }
    &.green {
        background-color: $green;
    }
    &.red {
        background-color: $red;
    }

    // Mobile specific styling
    @media (max-width: $tablet) {
    &.log-new {
        right: calc((100vw / 2) - 130px);
        bottom: 80px;
        }
    }
}

